.el-table {
  // 解决嵌套表格边框穿透问题
  --el-table-right-border: none;

  &.el-table--border {
    --el-table-right-border: var(--el-table-border);
  }

  .el-table__header,
  .el-table__body {
    margin: 0;
    overflow-x: visible;

    tr {
      border-top: none;
      background-color: var(--el-table-tr-bg-color);
    }

    tr:nth-child(2n) {
      background-color: var(--el-table-tr-bg-color);
    }

    th,
    td {
      border: none;
      border-bottom: var(--el-table-border);
      border-right: var(--el-table-right-border);
    }
  }
}
